
@import "tailwindcss";


a{
    color: rgb(0, 0, 0);
    text-decoration:none;
}
a:hover{
   scale: 1.1;
}


h5{
    
    transition: transform 0.3s ease-in-out;

}

h5:hover{
   transform: scale(1.1) ;
  
   
}

button:hover{
    transform: scale(1.1) ;
    transition: transform 0.3s ease-in-out;
}


#contact:active{
     transform: scale(0.7) ;
    transition: transform 0.2s ease-in-out;
}



